*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: black;
}

::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}
.navbar{
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0px;
    top: 0;
    z-index: 999;
    transition: 0.5s linear;
}
.inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0px 40px;
}
.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 44px;
    height: 32px;
    background-image: url(../images/white-logo.png);
    background-size: contain;
}
.menu-toogler{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}
.menu-toogler span{
    display: block;
    height: 3px;
    background: white;
    margin: 6px 0px;
    position: relative;
    transition: 0.5s linear; 
}
.navbar-menu a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
    transition: 0.5s linear;
}
.navbar-menu a:hover{
    color: lightskyblue ;
}
.sticky{
    background-color: white;
    padding: 18px 0px;
}
.sticky .logo{
    background-image: url(../images/black-logo.png);
}
.sticky .navbar-menu a{
    color: black;
}
.sticky .menu-toogler span{
    background-color: black;
}
#home{
    height: 100vh;
    min-height: 500px;
    background: url(../images/IMG_20190312_073641.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
#home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
#home .content{
    width: 100%;
}
#home .content h1{
    width: 50vw;
    font-size: 40px;
    margin: auto;
    margin-bottom: 60px;
}
#home .content h1:after{
    content: 'A hardworking fast learner who has great team working skill and experiences on online and offline working environment. ';
    margin: 10px;
    animation: textanim 30s linear infinite;
}
@keyframes textanim{
    50%{
        content: 'Graduate from full stack web development coding course with good basic knowledge on building a full stack website.';
    }
    100%{
        content: 'Hungry on learning new skills and facing new challenges. Good problem solving skill as facing different sitaution in an aquatic pet shop.';
    }
}

#home .buttons{
    margin-top: 60px;
}
#home .buttons a{
    display: inline-block;
    margin: 15px 30px;
    color: black;
    font-size: 30px;
    font-weight: 500;
    width: 200px;
    border: 2px solid;
    border-radius: 6px;
    transition: 0.5s linear;
}
#home .buttons a:hover{
    background-color: #1e2a79;
    color:whitesmoke;
    border: none;
}


#skills{
    color: #edf5e1;
    background-color: #353b48;
    height: auto;
}


#skillsIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding-top: 30px;
}
ion-icon{
    font-size: 40px;
}

#skillsContent h3{
    font-size: 24px;
    text-align: center;
    margin: 20px;
}

#skillsContent .skills{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50vw;
    margin: auto;
}

#skillsContent .skills .skill{
    width: 200px;
    margin: 10px;

}

#skillsContent .sKills .skill h5{
    display: flex;
    justify-content: space-between;
}

#skillsContent .skillBar{
    width: 200px;
    height: 6px;
    background-color: white;
    position: relative;
    margin-top: 10px;
}

#skillsContent .skillBar::after{
    content: "";    
    position: absolute;
    background-color: #48dbfb;
    height: 6px;
    width: 100%;
    bottom: 0%;
}

#skillsContent .Leadership::after{
    width: 80%;
}

#skillsContent .timeManagement::after{
    width: 90%;
}


#skillsContent .English::after{
    width: 50%;
}

#softwareSkill{
    height: auto;
    background-color: whitesmoke;
    padding-top: 5px;
}

#softwareSkill #softwareSkillsIcon{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

#softwareSkill #softwareSkills{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50vw;
    margin: auto;
}

#softwareSkill #softwareSkills .skill h5{
    font-size: 20px;
}

#softwareSkill #softwareSkills .skill{
    width: 280px;
    height: 100px;
    margin: 18px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    box-shadow: 5px 10px lightgrey;
}


#working{
    height: auto;
    background-color: #353b48;
}

#working #workingExperienceIcon{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #edf5e1;
}

#working #workingExperiences{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

#working #workingExperiences .workingExperience{
    width: 600px;
    height: auto;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#working #workingExperiences .workingExperience h3{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

#working #workingExperiences .workingExperience h4{
    font-size: 18px;
    margin-top: 10px;
}

#working #workingExperiences .workingExperience ul li{
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    margin: 10px;
    font-weight: bold;
}

#working #workingExperiences .workingExperience .line{
    background-color: black;
    width: 100%;
    height: 3px;
    margin: auto;
}

#education{
    height: auto;
    background-color: whitesmoke;
}

#education #educationIcon{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
}

#education #educationBackgrounds .educationBackground{
    width: 50vw;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: #353b48;
    color: #edf5e1;
    font-size: 18px;
    margin: auto;
}

#education #educationBackgrounds .educationBackground .educationContent h4{
    padding-top: 10px;
}

#education #educationBackgrounds .educationBackground .educationContent p:nth-child(4){
    font-weight: 900;
}

#education #educationBackgrounds .educationBackground .educationContent ul li {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    padding-top: 5px;
}

#education #educationBackgrounds .educationBackground  .educationImg img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}





@media screen and (max-width: 900px){
    .menu-toogler{
        display: block;
    }

    #home .content h1{
        color: #edf5e1;
        width: 80vw;
        font-size: 30px;
        margin-bottom: 60px;
    }

    #home .buttons a{
        width: 60vw;
        height: 40px;
        line-height: 40px;
        font-size: 30px;
        font-weight: 900;
    }

    .navbar-menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #353b48;
        top: 0px;
        right: -100%;
        max-width: 400px;
        padding: 80px 50px;
        transition: 0.5s linear;
    }
    .navbar-menu a{
        display: block;
        font-size: 30px;
        font-weight: 500;
        margin: 30px 0px;
    }
    .sticky .navbar-menu{
        background-color:white;
    }
    .sticky .navbar-menu a:hover{
        color: lightskyblue;
    }
    .navbar-menu.active{
        transition: 0.5s linear;
        right: 0;
    }
    .menu-toogler.active span:nth-child(1){
        transform: rotate(-45deg);
        top: 4px;
    }
    .menu-toogler.active span:nth-child(2){
        opacity: 0;
    }
    .menu-toogler.active span:nth-child(3){
        transform: rotate(45deg);
        bottom: 14px;
    }

    #home .content .buttons a{
        font-size: 25px;
    }

    #home .content h1{
        font-size: 25px;
    }

    #skills{
        height: auto;
    }

    #skills #skillsContent h3{
        font-size: 18px;
        font-weight: 900;
    }

    #skillsContent .skills{
        margin: auto;
        width: 170px;
    }

    #skillsContent .skills .skill{
        width: 100vw;
        margin: auto;
        margin-bottom: 10px;
    }

    #softwareSkill{
        height: auto;
    }

    #softwareSkill #softwareSkillsIcon{
        font-size: 15px;
    }

    #softwareSkill #softwareSkills .skill{
        height: auto;
        padding-top: 0px;
    }

    #softwareSkill #softwareSkills .skill h5{
        font-size: 18px;

    }

    #working{
        height: auto;
    }

    #education #educationIcon{
        font-size: 15px;
    }


    #education #educationBackgrounds .educationBackground{
        width: auto;
    }

}
